.topnav {
    background-color: blue;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
     background-color: black;
     color: white;

}
.topnav a.active {
    background-color: red;
    color: black;
}
.logo {
    width: 10px;
    height: 10px;
}